*{
	font-family: 'Abril Fatface', cursive;
}

body{
	background-color: #ff2121;
	background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-big.png");
}

img{
	max-width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	border: 5px solid black;
}

.container{
	background-color: lightgray;
	border: 10px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}

h1{
	font-size: 48px;
}

input{
	height: 35px;
	width: 350px;
}

.modal-details{
	margin-bottom: 20px;
}