*{
	font-family: 'Abril Fatface', cursive;
}

body{
	/* background-color: black; */
	background-image: url("https://i.ytimg.com/vi/8KTfbWzCV-U/maxresdefault.jpg");
}

img{
	max-width: 100%;
	/* height: 250px; */
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	border: 5px solid black;
	background-color: #f7e8a0;
}

.container{
	background-color: white;
	border: 10px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}

h1{
	font-family: 'Diplomata', cursive;
	font-size: 48px;
	color: #DAB806;
}

input{
	height: 35px;
	width: 350px;
}

.modal-details{
	margin-bottom: 20px;
	font-family: 'Metamorphous', cursive;
}